#cabecario{
background-color:darkgreen;
}

.lista-noticias{

}

.card-noticias{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    color: crimson;
    transition: 0.3s;

}

.card-noticias img {
    max-width: 100%;
}

/* button:focus{
    outline: 3px solid red;
} */

 button:focus{
    outline: 3px solid rgb(208, 34, 208);
 }

 h1{
    color:red
 }

 p{
    color:blue
 }