*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

#topo-loja{
    background-color:#2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

#bt_menu, #label-menu{
    display:none;
}

#menu ul{
    list-style: none;
    margin-top:10px;
}

#menu li{
    display: inline-block;
    margin:0 10px;
}

#menu a{
    color:#f1c40f;
    text-decoration:none;
    font-weight: bold;
}

.titulo-secao{
    text-align: center;
    margin-top:40px;
    color:#2c3e50;
}
