*{margin: 0; padding: 0; box-sizing: border-box; font-family:Arial, sans-serif; }
 
/*ACESSIBILIDADE:foco obrigatorio com alto contraste*/
*:focus {
    outline:4px solid blue
    outline-offset: 4px;
}

/* Classe SR-ONLY para esconder elementos mas manter ecessibilidade*/
.sr-only {
  position:absolute;
  width: 1px; height: 1px;
  padding: 0;margin: -1px;
  overflow: hidden;clip: rect(0,0,0,0);
  border: 0;

}
/* HEADER COM GRID */
.header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    background-color: #2c3e50;
    color: white;
    padding: 20px 5%;
    align-items: center;
}

.btn-topo { background: none; border: none; font-size: 1.5rem; color: white; cursor: pointer; margin-left: 10px; }

.banner-hero { background-color: #f4f4f4; padding: 60px 20px; text-align: center; }

.menu-container { padding: 40px 5%; }

label {
    padding: 12px 30px;
    background-color: #eee;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

input:checked + label { background-color: #e67e22; color: white; }

.aba-tela { display: none; }
#massa:checked ~ #tela-massas { display: block; }

/* GRID DE PRODUTOS */
.grid-produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 Colunas */
    gap: 30px;
    margin-top: 30px;
}

.card { border: 2px solid #eee; padding: 20px; border-radius: 10px; text-align: left; }

/* Ajuste de imagem UX dentro do Card */
.card img { 
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
}

input:checked + label { background-color: #e67e22; color: white; }

.aba-tela { display: none; }
#massa:checked ~ #tela-massas { display: block; }

/* GRID DE PRODUTOS */
.grid-produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 Colunas */
    gap: 30px;
    margin-top: 30px;
}

.card { border: 2px solid #eee; padding: 20px; border-radius: 10px; text-align: left; }

/* Ajuste de imagem UX dentro do Card */
.card img { 
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
}

.preco { display: block; margin: 15px 0; color: #d35400; font-weight: bold; font-size: 1.3rem; }

.btn-real {
    background-color: #27ae60;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.btn-real:hover { background-color: #219150; }

.rodape { background-color: #2c3e50; color: white; padding: 40px; text-align: center; }
.rodape a { color: #f1c40f; text-decoration: none; margin: 0 10px; font-weight: bold; }

  